@font-face {
    font-family: "Outfit";
    src: url("Font/Outfit.ttf") format("truetype");
}

/* Set padding to keep content from hitting the edges and font */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Outfit';
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
