
@{
    ViewBag.Title = "Über";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Über Spotify Anarchy Web Edition</h2>

<div style="margin: 3rem 0 3rem 50%; transform: translateX(-50%);">
    <h1>
        <img style="margin-bottom: 8px;" src="~/Content/Images/spotify-anarchy.logo.png" alt="su" />
        スポティファイ・アナーキー
    </h1>
    <div style="font-size: 24px; margin-left: 60px; margin-top: -24px;">
        <span>supotifai anaakii (Spotify Anarchy)</span>
    </div>
</div>

<div style="margin-bottom: 32px;">
    <h4>Durchsuche das Spotify-Angebot mit deutlich weniger Tracking-Maßnahmen.</h4>
    <span>
        Spotify trackt seine Nutzer innerhalb seinen eigenen Anwendungen.<br /><br />

        Dies kann sehr tückisch sein, wenn nach einem bestimmten Inhalt gesucht werden.<br />
        Dadurch werden hinterher auf der Startseite Inhalte vorgeschlagen, die <b>nicht</b> zu deinen Hörvorlieben passen.<br /><br />

        Abhilfe hierzu schafft dieses Tool, womit du Inhalte durchsuchen kannst.<br />
        Sogar <b>Hörproben</b> zu Songs kannst du dir anhören (sofern dafür überhaupt ein Ausschnitt angeboten wird)!<br /><br />

        Sogar das Favorisieren von Inhalten ist möglich, sodass du diese später wiederfindest.<br /><br />

        Möglich gemacht wird dies durch die Nutzung der <b>Spotify Web API</b>, welche von Spotify <b>selber</b> angeboten wird.<br /><br />

        <b>Wichtig dabei zu wissen:</b> Dieses Tool ist nicht von Spotify selbst entwickelt worden, sondern von einem Drittanbieter.<br />
    </span>
</div>

<h4>Quellcode und Links</h4>
<div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
    <a href="https://github.com/PixelPerfectMind/SpotifyAnarchyWebEdition">
        <button>
            <img src="~/Content/svg/light/github-logo.svg" height="64" alt="github" /><br />
            GitHub (Quellcode)
        </button>
    </a>

    <a href="https://developer.spotify.com/documentation/web-api/quick-start/">
        <button>
            <img src="~/Content/svg/light/spotify-logo.png" height="64" alt="spotify" /><br />
            Spotify Web API
        </button>
    </a>
</div>